.register {
    width: 450px;
    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        button {
            margin-left: auto;
            margin-right: auto;
        }
    }
}