.itemPreview {
  display: flex;
  flex-direction: column;
  justify-items: left;
  & h1 {
    text-align: left;
  }
  & .items-list {
    display: flex;
    justify-content: left;
    gap: 10px;
  }
}
